services:
  api:
    build:
      context: ./apps/api
    restart: unless-stopped
    ports:
      - "8000"

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: https://creda-api.ihorsavenko.com
    environment:
      INTERNAL_API_URL: http://api:8000
    ports:
      - "3000"
